.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}