.listLayout {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.listHeaderWrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

.listHeader {
    text-align: center;
    width: fit-content;
}